#sneaker-company{
    color: #fd9f69;
    font-size: small;
    font-weight: 900;
}

#discount-percentage{
    background: #FFEEE1;
    color: #E58E4C;
    line-height: inherit;
    padding: 6px 4px 0px 4px;
    font-size: 14px;
}

#before-price{
    color: #bfc1c3;
    text-decoration-line: line-through;
    font-weight: bolder;
    
}

#current-price{
    font-weight: bolder;
    font-size: x-large;
}