@import "nav-sm-menu";
@import "logo";
@import "cart";
@import "items";
@import "shoppingcart-and-avatar";


.navbar-container {
    border-bottom: 1px solid #e0dceb;

    .nav-link {
        color: #96989b;
        padding-bottom: 30px;

        &:hover {
            color: #4a494b !important;
            border-bottom: 4px solid #ff7d1c;
        }
    }


    
}

@media only screen and (max-width: 768px) {
    .navbar-container{
    position: fixed;
    left: 0;
    background: white;
    z-index: 100;
    width: 100%;
    padding: 0;
    }
}