
.carousel-control-next , .carousel-control-prev{
    opacity: 1 !important;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color: black;
    background-size: 18px !important;
    border-radius: 20px;

}